.ulList {
    list-style-type: none;
}

.ulList li {
    float: left;
    list-style: none;
    margin-left: 1em;
    text-align: center;
    text-decoration: underline;
    transition: all .2s ease-in;
    cursor: pointer;
}
.ulList li:hover{
    color: grey;
}

@media (max-width: 667px) {
    .ulList{
        margin-right: 10px;
    }
    
    .ulList li {
        margin-left: 15px;
    }
}