.App-intro {
  padding-top: 20px;
  margin-left: 3rem;
  margin-top: 1rem;
  font-size: 18px;
  width: 600px;
  }

  .App-intro hr {
    margin-top: 40px;
  }

  .aboutHeader{
    display: flex;
    justify-content: center;
  }

  .aboutHeader h2 {
    font-weight: 400;
  }

  @media (max-width: 736px) {
    .App-intro{
      margin-left: 1rem;
      width: 400px;
      padding: 0 20px;
    }
  }