.skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.skillContainer {
    perspective: 1200px;
    cursor: pointer;
    margin-left: 25px;
    margin-bottom: 25px;
}

.skillContainer:nth-child(1n){
    background-color: #f16529;
}
.skillContainer:nth-child(2n){
    background-color: #2196f3;
}
.skillContainer:nth-child(3n){
    background-color: #f8dc3d
}
.skillContainer:nth-child(4n) {
    background-color: #53d2fa;
}
.skillContainer:nth-child(5n) {
    background-color: #e23237;
}
.skillContainer:nth-child(6n) {
    background-color:black;
}

.skillBox {
    display: flex;
    width: 375px;
    height: 450px;
    border: 1px solid black;
}

.skillContent {
    width: 100%;
    text-align: center; 
    vertical-align: middle;
    line-height: 425px;
}

.skillContent a {
    text-decoration: none;
    color: black;
}

.google a {
    color: white;
}

.skillContent h2 {
    margin: 0;
}

/* flip the pane when hovered */
.skillContainer:hover .flip, .skillContainer.hover .flip {
    transform: rotateY(180deg);
}


/* flip speed goes here */
.flip {
	transition: 0.5s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .backContent {
	backface-visibility: hidden;
	top: 0;
    left: 0;
    position: absolute;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.backContent {
    transform: rotateY(180deg);
    width: 100%;
    text-align: center; 
    vertical-align: middle;
    line-height: 403px;
    background-color: white;
    color: black;
}


@media (max-width: 736px) {
    .skillContainer {
        margin-left: 5px;
        margin-bottom: 5px;
    }

    .skillBox {
        width: 175px;
        height: 250px;
    }

    .skillContent {
        line-height: 225px;
    }

    .backContent {
        line-height: 202px;
    }
}

/*

SMALLER THEN iPHONE PLUS 


@media (max-width: 667px) {
    .skillContainer {
        margin-left: 5px;
        margin-bottom: 5px;
    }

    .skillBox {
        width: 175px;
        height: 250px;
    }

    .skillContent {
        line-height: 225px;
    }

    .backContent {
        line-height: 202px;
    }
}

*/