.skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.skillContainer:nth-child(1n){
    background-color: #f16529;
}
.skillContainer:nth-child(2n){
    background-color: #2196f3;
}
.skillContainer:nth-child(3n){
    background-color: #f8dc3d
}
.skillContainer:nth-child(4n) {
    background-color: #53d2fa;
}
.skillContainer:nth-child(5n) {
    background-color: #e23237;
}
.skillContainer:nth-child(6n) {
    background-color:black;
    color: white;
}

.skillBox {
    display: flex;
    width: 750px;
    height: 400px;
    border: 1px solid black;
}

.skillContent {
    width: 100%;
    text-align: center; 
    vertical-align: middle;
    line-height: 400px;
}

.skillContent h2 {
    margin: 0;
}

/* This is the flipping CSS */

.skillContainer {
    perspective: 1200px;
}
	/* flip the pane when hovered */
	.skillContainer:hover .flip, .skillContainer.hover .flip {
		transform: rotateY(180deg);
	}


/* flip speed goes here */
.flip {
	transition: 0.5s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .backContent {
	backface-visibility: hidden;
	top: 0;
    left: 0;
    position: absolute;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.backContent {
    transform: rotateY(180deg);
    width: 100%;
    text-align: center; 
    vertical-align: middle;
    line-height: 400px;
    background-color: white;
    color: black;
}



/*
.box1 {
    position: relative;
    box-sizing: border-box;
    background-color: tomato;
    width: 50%;
    height: 350px;
    float: left;
    overflow: hidden;
    border: 1px solid white;
}

.boxspacing1 {
    margin: 0;
    background-color: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.boxspacing2 {
    margin: 0;
    background-color: yellow;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-left: -50%;
    transform: translate(100%, 100%);
    
}

.box2 {
    box-sizing: border-box;
    background-color: skyblue;
    width: 50%;
    height: 350px;
    float: left;
    overflow: hidden;
    border: 1px solid white;
}

*/