/*
Selection Styling
- Takes Affect When A Text Or Image Is Highlihted
- Pale Yellow Is The Highlihted Colour For Text
- None Means The Background Is Transparent
*/

::selection {
  background: $selection-color;
}

::-moz-selection {
  background: $selection-color;
}

img::selection {
  background: $none
}

img::-moz-selection {
  background: $none;
}

body {
  -webkit-tap-highlight-color: $selection-color;
}
