.contactDetail {
    margin-top: 25px;
}
.contactDetail li {
    margin-top: 30px;
    color: rgb(148, 148, 148);
}

@media (max-width: 736px) {
    .contactDetail h2{
        text-align: center;
    }

    .contactDetail li {
        margin-top: 10px;
    }
}