.contactAlign {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 3rem;
}

.contactImage {
    margin-right: 150px;
    margin-top: 2rem;
}

.contactImage img {
    width: 350px;
}

.callback {
    width: 700px;
    margin-top: 25px;
    font-size: 18px;
}

@media (max-width: 736px) {

    .contactImage {
        margin-right: 15px;
    }
    .contactImage img {
        width: 250px;
    }

    .callback {
        width: 350px;
    }
}